/* FONTS  */
/* heebo-regular - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/heebo-v10-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/heebo-v10-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* heebo-700 - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/heebo-v10-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/heebo-v10-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* heebo-500 - latin */
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/heebo-v10-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/heebo-v10-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* Common styles */
html{
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*, *::after, *::before{
  box-sizing: inherit;
}
body{
  padding: 0;
  margin: 0;
  margin-top: 69px;
  font-family: "Heebo", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #21243D;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img{
  max-width: 100%;
  display: block;
}
.container{
  max-width: 1152px;
  padding-left: 148px;
  padding-right: 60px;
  margin-left: auto;
  margin-right: auto;
}
.list{
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* HEADER STYLE */
.site-header{
  background-color: #fff;;
}
/* site-nav */
.site-nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fff;
}
.nav-list{
  justify-content: flex-end;
}
.nav-item + .nav-item{
  margin-left: 33px;
}
.nav-link{
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  color: #000000;
  text-decoration: none;
}
.nav-link::hover{
  
}

/* hero  */
.hero-container{
  display: flex;
  padding-top: 140px;
  padding-bottom: 71px;
}
.hero-container::after{
  content: "";
  width: 243px;
  height: 243px;
  border-radius: 50%;
  box-shadow: -5px 8px #EDF7FA;
  background-image: url("../img/my-photo.png");
  background-repeat: no-repeat;
  background-position: center;
}
.hero-date{
  max-width: 497px;
  margin-right: 115px;
}
.hero-title{
  margin-top: 10px;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
  color: #21243D;
}
.hero-link{
  display: inline-block;
  margin-top: 38px;
  padding: 17px 21px;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #FFFFFF;
  background: #FF6464;
  border-radius: 2px;
  text-decoration: none;
}
.recent-post{
  padding-bottom: 32px;
  background-color: #EDF7FA;
}
.post-heading{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section-title{
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 60px;
  color: #21243D;
}
.posts-link{
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: right;
  color: #00A8CC;
  text-decoration: none;
}
.post-container{
  padding-right: 148px;
}
.post-item + .post-item{
  margin-left: 20px;
}
.post-link{
  display: block;
  max-width: 418px;
  padding: 24px;
  text-decoration: none;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  color: #21243D;
}
.post-title{
  margin: 0;
  margin-bottom: 17px;
  font-weight: 700;
  font-size: 26px;
  line-height: 38px;
  color: #21243D;
}
.post-link > span{
  display: inline-block;
  font-weight: normal;
  font-size: 18px;
  line-height: 18px;
  color: #21243D;
}
.post-topic{
  margin-left: 26px;
  padding-left: 26px;
  border-left: 1px solid #000000;
}

/* fwatured-work */
.featured-work{
  padding-top: 15px;
  padding-bottom: 83px;
}
.work-list{
  flex-direction: column;
}
.work-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-top: 31px;
  padding-bottom: 15px;
  border-bottom: 1px solid #E0E0E0;
}
.work-link::before{
  content: "";
  width: 246px;
  height: 180px;
  margin-right: 18px;
  background-repeat: no-repeat;
}
.Dashboard::before{
  background-image: url("../img/dashboard.png");
}
.Portraits::before{
  background-image: url("../img/portrait.png");
}
.Days::before{
  background-image: url("../img/days.png");
}
.work-date{
  width: 594px;
}
.work-title{
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  color: #21243D;
}
.work-data{
  padding: 1px 17px;
  margin-right: 36px;
  background: #142850;
  border-radius: 16px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #FFFFFF;
  vertical-align: top;
}
.work-topic{
  font-weight: normal;
  font-size: 20px;
  line-height: 20px;
  color: #8695A4;
  vertical-align: top;
}
.work-info{
  margin-top: 17px;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: #21243D;
}
/* footer  */
.footer-container{
  text-align: center;
}
.social-media i{
  font-size: 30px;
  margin-right: 35px;
}
.social-media i:last-child{
  margin-right: 0;
}
.footer-text{
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #21243D;
}
